.wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

/* css variables sample
--------------------------------------- */
:root {
  --font-size: 200px;
}

.text {
  font-size: var(--font-size); /* 200px */
}
