.wrap {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

/* css variables sample
--------------------------------------- */
/* global variables */
:root {
  --color: blue;
}

/* scoped variables */
.btn {
  --color: red;
  color: var(--color); /* red */
  font-size: 1rem;
  border: 2px solid var(--color); /* red */
  padding: 8px;
  background: transparent;
}

.btn02 {
  color: var(--color); /* blue */
  font-size: 1rem;
  padding: 8px;
  border: 2px solid var(--color); /* blue */
}
